body {
    background-color: black;
}

.main {
    background-color: blanchedalmond;
    animation-name: fadeIn;
    animation-duration: 7s;
    width: 40%;
    position: absolute;
    left: 30%;
    top: 10%;
}
.nav {
    z-index: 100;
    background-color: blanchedalmond;
    animation-name: fadeIn;
    animation-duration: 7s;
}

a {
    text-decoration: none;
    color: Black;
}

a:hover {
    color: black;
    font-size: 1.05rem;
}

@keyframes fadeIn {
    from {opacity: 0.0;}
    to {opacity: 1;}
}