body {
    background-color: black;
}

.main {
    background-color: blanchedalmond;
    animation-name: fadeIn;
    animation-duration: 7s;
    width: 40%;
    position: absolute;
    left: 30%;
    top: 10%;
}
.nav,.aboutMe {
    z-index: 100;
    background-color: blanchedalmond;
    animation-name: fadeIn;
    animation-duration: 2;
}

a {
    text-decoration: none;
    color: Black;
}

a:hover {
    color: black;
    font-size: 1.05rem;
}

.accordion>.card .card-header {
    margin-bottom: 0;
}

.card, .card-header {
    border-color: black;
}

.card-header {
    background-color: lightsteelblue;
}

.btn-link {
    color: black;
}


@keyframes fadeIn {
    from {opacity: 0.0;}
    to {opacity: 1;}
}